/* header */
.header-container {
    background-color: #fff;
    border-bottom: 1px solid #dadada;
}

.header-logo-container,
.header-btn-container {
    height: 64px;
}

.header-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

/* 组件 */
.btn-toggle {
    padding: 10px;
    /* background-color: transparent; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-toggle:hover {
    background-color: #f9f9f9;
}

.btn-toggle:hover .btn-toggle-bar {
    background-color: #1428a0;
}

.btn-toggle-bar {
    display: block;
    width: 24px;
    height: 4px;
    background-color: #363636;
    border-radius: 2px;
}

.btn-toggle-bar + .btn-toggle-bar {
    margin-top: 4px;
}

/* 内容 */
.header-logo {
    display: flex;
    align-items: center;
    width: 136px;
    height: 100%;
}