header {
    border-bottom: 1px solid #b1191a;
}

.short-nav {
    line-height: 32px;
    background-color: #f1f1f1;
}

.short-nav .sn-l {
    height: 32px;
}

.short-nav .sn-r{
    height: 32px;
}

.short-nav .sn-r li {
    float: left;
}

.short-nav .sn-r li.line {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 10px 15px 0;
}

.short-nav .sn-r li i {
    vertical-align: middle;
}

.header-main {
    padding-top: 25px;
    padding-bottom: 20px;
    position: relative;
}

.logo-wrapper {
    width: 171px;
    height: 62px;
    background: url("../images/logo.png") 0 0 no-repeat;
}

.logo-wrapper h1 {
    font-size: 0;
}

.search-wrapper {
    width: 536px;
    background-color: red;
    position: absolute;
    left: 348px;
    top: 25px;
}

.search-wrapper input {
    width: 452px;
    height: 32px;
    border: 2px solid #b1191a;
    float: left;
    text-indent: 10px;
}

.search-wrapper button {
    width: 80px;
    height: 36px;
    background-color: #b1191a;
    float: left;
}

.search-wrapper button i {
    font-size: 26px;
    color: #fff; 
}

.cart-wrapper {
    width: 138px;
    height: 32px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 25px;
    right: 60px;
}

.cart-wrapper:hover .cart-info {
    display: block;
}

.cart-wrapper i {
    vertical-align: middle;
}

.cart-wrapper i:nth-child(1) {
    position: relative;
    top: -2px;
}

.cart-wrapper i:nth-child(2) {
    position: relative;
    top: -2px;
}

.count {
    /* 1. 不建议直接使用宽高 而是让内容撑开 添加上paddding 
       2. 使用left定位更合适     
    */
    padding: 2px 4px;
    background-color: red;
    position: absolute;
    top: -14px;
    left: 105px;
    line-height: 14px;
    color: #fff;
    border-radius: 10px 10px 10px 0;
}

.cart-info {
    width: 310px;
    position: absolute;
    right: -1px;
    top: 33px;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 2;
    display: none;
    line-height: 70px;
}

.white-box {
    width: 138px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: -2px;
}

.search-hot {
    position: absolute;
    left: 348px;
    top: 61px;
}

.search-hot a {
    margin-right: 20px;
    line-height: 30px;
}

/* main-nav 开始 */
.pro-classify {
    width: 210px;
    height: 46px;
    background-color: #b1191a;
    text-align: center;
    line-height: 46px;
    color: #fff;
    font-size: 16px;
    z-index: 9999;
}

.pro-nav li {
    float: left;
    margin-left: 55px;
    line-height: 46px;
    height: 46px;
    font-size: 16px;
    position: relative;
}

.pro-nav li .hot {
    position: absolute;
    padding: 3px 15px;
    color: #fff;
    background-color: #b1191a;
    line-height: 1;
    white-space: nowrap;
    font-size: 12px;
    top: -10px;
    left: 32px;
    /* width: 60px; */
    border-radius: 10px 10px 10px 0;
}





